<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dr. Mario</title>
  <script src="/bundle.js" defer></script>
</head>
<body>
  <div>
    <div id="root"></div>
  </div>
</body>
</html>
